<!--<nav class="navbar navbar-expand-lg sticky-top navbar-light">
  <div class="container-fluid" style=" width: 90%; ">
    <div class="navbar-brand">
      <img src="assets/imgs/logo.png" alt="" width="90" height="90" class="d-inline-block align-top">

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link " aria-current="page" href="#" routerLink="/">Home <span>|</span> </a>
        <a class="nav-link dropdown">
          <a class="nav-link dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About 
          </a><span>|</span>
          <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">About Frame</a>
            <a class="dropdown-item" href="/profile">Company profile</a>
          </div>
          
        </a>
        <a class="nav-link" href="#" routerLink="/products">Products <span>|</span> </a>
        <a class="nav-link" href="#" routerLink="/projects">Projects <span>|</span> </a>
        <a class="nav-link" href="#" routerLink="/contact">Contact <span>|</span> </a>
        <a class="nav-link" href="http://ad-vast.com/" >SISTER COMPANY</a>

      </div>

    </div>
    
  </div>
</nav>

-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <div class="navbar-brand">
    <img src="assets/imgs/logo.png" alt="" width="90" height="90" class="d-inline-block align-top ml-5">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-dark" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/">Home <span>|</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink="/about" >About Frame</a>
          <a class="dropdown-item" href="#" routerLink="/profile">Company profile</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/products">Products <span>|</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/projects">Projects <span>|</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contact">Contact <span>|</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://ad-vast.com/" >SISTER COMPANY</a>
      </li>
      
    </ul>
  </div>
</nav>