  
<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <div class="navbar-brand">
    <img src="assets/imgs/logo.png" alt="" width="90" height="90" class="d-inline-block align-top ml-5">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-dark" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/">Home <span>|</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"  style="color:rgba(255,255,255,0.5);" routerLink="/about" >About Frame</a>
          <a class="dropdown-item" href="#"  style="color:rgba(255,255,255,0.5);" routerLink="/profile">Company profile</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" routerLink="/projects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdownMenuLink" *ngFor="let product of products">
          <a *ngFor="let product of products" style="color:rgba(255,255,255,0.5);" class="dropdown-item" routerLink="/projects/{{product._id}}"  >{{product.title}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/products">Products <span>|</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contact">Contact Us <span>|</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://ad-vast.com/" >AD-VAST</a>
      </li>
      
    </ul>
  </div>
</nav>
