a{
    font-size:20px;
    padding:2%;
}

.navbar , .drop{
    background-color: #322774 !important;

}

.dropdown{
    border:0px;
}

.dropdown:hover .dropdown-menu {display: block;}

a:hover , .drop:hover{
color:white !important
}

.dropdown-menu a:hover{
background-color:#322774 !important ;

}
