<app-navbar></app-navbar>

<div class="text-center">
  <h1 class=" yellow">Our products</h1>
</div>


<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
  <div *ngFor="let product of products; index as i; odd as isOdd; even as isEven"
  [class.Odd]="isOdd" 
  [class.even]="isEven">
       <div class="row product" >
      <div class="col-md-4 col-12 p-2">
          <img class="w-100 main-img" width="700px" height="400px" src={{product.avatar}} alt="walls img">
      </div>
      <div class="col-md-8 col-12 p-2"> 
          <h3 class="yellow text-center">{{product.title}}</h3>
          <p>{{product.description}}</p>
          <div class="text-center">
            <div *ngIf="product.avatar1!= null;"  style="float: left;">
              <img src={{product.avatar1}} height="300px" class="card-img-top" alt="1">
            </div>
         <div *ngIf="product.avatar2!= null;" style="float: left;">
          <img src={{product.avatar2}} height="300px" class="card-img-top" alt="1">
         </div>
     <div *ngIf="product.avatar3!= null;">
      <img src={{product.avatar3}} height="300px" class="card-img-top" alt="1">
     </div>
 
        </div>
</div>
</div>
</div>
</div>
