
<div class="text-center">
  <h1 class=" yellow p-5">Our products</h1>
</div>

<div class="row  g-4 p-5">
  <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
    <div class="card">
      <img src="assets/imgs/products/certainwalls.jpeg" class="card-img-top" alt="1">
      <div class="card-body">
        <h3 class="card-title text-center">Certain walls</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">
    <div class="card">
      <img src="assets/imgs/products/doorsAndwindows.jpeg" class="card-img-top" alt="2">
      <div class="card-body">
        <h3 class="card-title text-center">Doors and windows</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
    <div class="card">
      <img src="assets/imgs/products/louvers.jpeg" class="card-img-top" alt="3">
      <div class="card-body">
        <h3 class="card-title text-center">Louvers</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1250">
    <div class="card">
      <img src="assets/imgs/products/cladding.jpeg" class="card-img-top" alt="4">
      <div class="card-body">
        <h3 class="card-title text-center">Aluminum cladding</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
    <div class="card">
      <img src="assets/imgs/products/aluminum_sheds.jpeg" class="card-img-top" alt="5">
      <div class="card-body">
        <h3 class="card-title text-center">Steel / Aluminum sheds</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1750">
    <div class="card">
      <img src="assets/imgs/products/handrails.jpeg" class="card-img-top" alt="6">
      <div class="card-body">
        <h3 class="card-title text-center">Steel / Aluminum handrails</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12 last" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000">
    <div class="card">
      <img src="assets/imgs/products/glassdoors.jpeg" class="card-img-top" alt="7">
      <div class="card-body">
        <h3 class="card-title text-center">Glass doors</h3>
      </div>
    </div>
  </div>
</div>