<app-navbar></app-navbar>

<div class="text-center">
  <h1 class=" yellow p-5">Our products</h1>
</div>


<div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
  <div *ngFor="let product of products; index as i; odd as isOdd; even as isEven"
  [class.Odd]="isOdd" 
  [class.even]="isEven">
       <div class="row product" >
      <div class="col-md-4 col-12 p-2">
          <img class="w-100 main-img" src={{product.avatar}} alt="walls img">
      </div>
      <div class="col-md-8 col-12 p-2 text-center"> 
          <h3 class="yellow ">{{product.title}}</h3>
          <h4>{{product.description}}</h4>
          <div class="container-fluid">
            <div id="carouselExample" class="carouselPrograms carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-md-4  active">
                       <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <a href="#" title="image 1" class="thumb">
                              <img class="img-fluid mx-auto d-block" src={{product.avatar1}} alt="slide 1">
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 ">
                       <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <a href="#" title="image 3" class="thumb">
                             <img class="img-fluid mx-auto d-block" src= {{product.avatar2}} alt="slide 2">
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="carousel-item col-md-4 ">
                       <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <a href="#" title="image 4" class="thumb">
                             <img class="img-fluid mx-auto d-block" src={{product.avatar3}} alt="slide 3">
                            </a>
                          </div>
                        </div>
                    </div>
                   
                </div>
                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
          
</div>
</div>
</div>
</div>
