<app-navbar></app-navbar>

<div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/imgs/1.jpeg" alt="First slide">
          <div class="animate__animated animate__zoomIn carousel-caption">
            <h2>
              <div class="text-center p-2 mb-5">FRAME for Facade Aluminum and Glass solutions eagerly concurred the Egyptian Market, dealing with most of class-A Developers and Contractors , and hitting records in product and commitment in all deliverables aspects </div>
            </h2> 
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/imgs/2.jpeg" alt="Second slide">
          <div class="animate__animated animate__zoomIn carousel-caption">
            <h2>
              <div class="text-center p-2 mb-5">FRAME had covered diversity of residential commercial, industrial, medical ,military ,recreational and touristic projects </div>
              <br>
            </h2> 
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/imgs/3.jpg" alt="Third slide">
          <div class="animate__animated animate__zoomIn carousel-caption">
            <h2>
              <div class="text-center p-2 mb-5">We remained focused on our customer`s satisfaction. Continuously, we are challenging our success. looking forward to serve and support current customers </div>
            </h2> 
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/imgs/4.jpeg" alt="Forth slide">
          <div class="animate__animated animate__zoomIn carousel-caption">
            <h2>
              <div class="text-center p-2 mb-5">We are in a never-ending improvement process for facades manufacturing, we are providing our customers with value engineering solutions for their projects best interest  </div>
            </h2> 
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/imgs/5.jpeg" alt="Fifth slide">
          <div class="animate__animated animate__zoomIn carousel-caption">
            <h3>
              <div class="text-center p-2 mb-4">FRAME`S personnel, is the most valuable asset in the company, we aim to maintain the employees satisfaction by assuring that, they have abundance of chances to prove and improve themselves, having the room to innovate and perform their own visions and expressing their ideas.  </div>
            </h3> 
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <div>
      <div class="text-center">
          <h1 class="blue" style="margin-top: 7% ; font-size:40px ">What we offer</h1>
      </div>

      <div class="row  g-4 p-3">
          <div  *ngFor="let product of products" class="col-lg-4 col-md-6 col-12 p-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
            <div class="card">
              <img height="400px" src={{product.avatar}}  class="card-img-top" alt="1">
              <div class="card-body">
                <h4 class="card-title text-center blue">{{product.title}}</h4>
                <a class="btn view" routerLink="/projects/#{{product._id}}">view projects</a>
              </div>
            </div>
          </div>  
        
</div>
</div>
    <div class="row home-about">
      <p class="col-12"><span >
        <div class="text-center">
          <h2>Aluminum and Glass Facade works Company | FRAME</h2>
        <strong > Owner & CEO : Sherif Mamdouh El Saeed </strong></div><br>
        <p> FRAME established <strong> 2005 </strong> , as the vision of enthusiastic civil Engineer , launching engineering firm concerned with advanced technologies in achieving customers'
          satisfaction and fulfilling technical requirements .</p>
      <p>In <strong> 2010 </strong> Frame for Facade Aluminum and Glass solutions eagerly concurred the Egyptian Market ,dealing with most of class-A Developers and Contractors ,and hitting records in productivity and commitment in all deliverables aspects . </p>
      <p>In <strong> 2016 </strong> Frame added further manufacturing yard equivalent to 3000 m<sub>2</sub> ,to coop with the extensive customers' needs ,implementing the most advanced German technologies in cutting and assembly of the products .</p> 
      <p>Up to <strong> 2020 </strong> had covered diversity of residential ,commercial ,industrial ,medical ,military ,recreational and touristic projects.</p>   
  
      </span>
      </p>
    </div>
    <app-partners></app-partners> 
</div>