<footer style="background-color: #322774">
  <!-- Grid container -->
  <div class="container pt-5 pb-0">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-2">
        <img src="assets/imgs/logo.png" alt="logo" width="100" height="100" class="d-inline-block align-center mt-5">

      </div>
      <div class="col-12 col-sm-6 col-md-3 navv">
        <a class="d-flex m-2 yellow" href="#" routerLink="/">Home</a>
        <a class="d-flex m-2 yellow" href="#" routerLink="/about">About</a>
        <a class="d-flex m-2 yellow" href="#" routerLink="/products">Products</a>
        <a class="d-flex m-2 yellow" href="#" routerLink="/projects">Projects</a>
        <a class="d-flex m-2 yellow" href="http://ad-vast.com/">ADVAST</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 contact">
        <h5 class=" yellow">CONTACT</h5>
        <div>
        <label class=" yellow m-2">Head Office : </label><span> Block 1258 , Bldg 12 , Appt-101. Sheraton Heliopolis housing , Cairo , EGYPT </span> <br>
        <label class=" yellow m-2">Tel ( Land line ) : </label><span > +2 02 22 69 1300 . </span> <br>
        <label class=" yellow m-2">Email : </label><span> info@frame-eg.com . </span><br>
      </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 logos">
        <section >
          <!-- Facebook -->
          <a class="btn btn-floating m-1 d-flex" href="#!" role="button">
            <img src="assets/imgs/fb.png" alt="facebook"><div class="yellow"> Facebook</div>
          </a>
    
          <!-- Twitter -->
          <a class="btn btn-floating m-1 d-flex" href="#!" role="button">
            <img src="assets/imgs/twitter.png" alt="twitter"><div class="yellow"> Twitter</div>
          </a>
    
          <!-- Instagram -->
          <a class="btn btn-floating m-1 d-flex" href="#!" role="button">
            <img src="assets/imgs/insta.png" alt="instagram"> <div class="yellow"> Instagram</div> 

          </a>
    
          <!-- Linkedin -->
          <a class="btn  btn-floating m-1 d-flex" href="https://www.linkedin.com/company/frameforaluminum" role="button">
            <img src="assets/imgs/linked.png" alt="linkedin"><div class="yellow"> Linkedin</div> 
          </a>
    
        </section>
        <!-- Section: Social media -->
      </div>
    </div>
    
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:#322774;color:white">
    © 2020 Copyright:
    <a class="text-white" routerLink="/">FRAMA</a>
  </div>
  <!-- Copyright -->
</footer>
