<div>
    <div class="text-center p-4">
       <h1 class=" yellow">About Us </h1>
    </div>
    <div class="w-75 row text-center p-2 m-auto">
        <div class="col-12 p-1">
            <img class="w-75 p-2" src="assets/imgs/team1.jpg"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
        </div>

        <div class="col-12 p-2"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <h2 class="blue d-inline">Who </h2><h2 class="yellow d-inline"> We are</h2>
            <p> FRAME established <strong> 2005 </strong> , as the vision of enthusiastic civil Engineer , launching engineering firm concerned with advanced technologies in achieving customers'
                satisfaction and fulfilling technical requirements .</p>
            <p>In <strong> 2010 </strong> Frame for Facade Aluminum and Glass solutions eagerly concurred the Egyptian Market ,dealing with most of class-A Developers and Contractors ,and hitting records in productivity and commitment in all deliverables aspects . </p>
            <p>In <strong> 2016 </strong> Frame added further manufacturing yard equivalent to 3000 m<sub>2</sub> ,to coop with the extensive customers' needs ,implementing the most advanced German technologies in cutting and assembly of the products .</p> 
            <p>Up to <strong> 2020 </strong> had covered diversity of residential ,commercial ,industrial ,medical ,military ,recreational and touristic projects.</p>   
        </div>
        
        
        <div class="col-12 p-4">
            <img class="w-75 p-2" src="assets/imgs/44.jpeg"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
        </div>
        <div class="col-12 p-2"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000">
            <h2 class="blue d-inline">Chairman </h2><h2 class="yellow d-inline">Vision</h2>
            <p>Through the past 15 years ,Frame had delivered the utmost quality Facades in the Egyptian and international markets  yet ,we remained focused on our customers' satisfaction .</p>
            <p>Continuously ,we are challenging our success .Looking forward to serve and support current/further customers ,as Frame's success won't be honored without the contribution of our customers. </p>
            <p>Besides ,we are in a never-ending improvement process for facades manufacturing ,we are providing our customers with value Engineering solutions for their projects best interest ,herein we consider this part is our best competitive edge . </p>
        </div>
    </div>
</div>