<app-navbar></app-navbar>

<div>
    <div class="text-center">
        <h1 class=" yellow">Sample of our projects</h1>
     </div>
     <div *ngFor="let product of products"  >
         <h3 id={{product._id}}>{{product.title}}</h3>
     <div class="row  g-4 p-5">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
          <div class="card">
              <div *ngIf="project.productID===product.title">
            <img src={{project.avatar}} class="card-img-top" alt="1"><br>
            <div class="card-body">
              <h3 class="card-title text-center yellow">{{project.title}}</h3>
             
              <p style="text-align: center;"><span class="projec"> Consultant:</span>{{project.consultant}}</p>
              <p style="text-align: center;"><span class="projec"> Project Owner:</span>{{project.owner}}</p>
              <p style="text-align: center;"><span class="projec"> Location:</span>{{project.location}}</p>
              
            </div>
        </div>
          </div>
        </div>  
    </div> 
</div>

</div>