<app-navbar></app-navbar>
<div class="container-fluid">
<div class="contact row">
   <div class="col-md-6 col-12" style="height:650px">
   <iframe height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.7322009492464!2d31.380486715116522!3d30.10185508186153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDA2JzA2LjciTiAzMcKwMjInNTcuNiJF!5e0!3m2!1sen!2seg!4v1620303073258!5m2!1sen!2seg"
      width="100%" 
 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy"></iframe>
   <!-- <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
   </agm-map>
      -->
      
   </div>     
   <div class="col-md-6 col-12">
     <div class="row justify-content-around">
            <h3 class="yellow mt-5">CONTACT INFO </h3>
            <div style=" margin: 2%; padding: 2%;">
            <label class=" yellow"> Owner & CEO : </label><span > Sherif Mamdouh El Saeed </span> <br> 
            <label class=" yellow">Head Office : </label><span> Block 1258 , Bldg 12 , Appt-101. Sheraton Heliopolis housing , Cairo , EGYPT </span> <br>
            <label class=" yellow">Tel ( Land line ) : </label><span > +2 02 22 69 1300 . </span> <br>
            <label class=" yellow">Tel : </label><span> +20 12 27360 462 . </span> <br>
            <label class=" yellow">Email : </label><span> info@frame-eg.com . </span><br>
          </div>
     </div>
    </div>
</div>
</div>