<div class="cotact">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img  class="d-block w-100"src="assets/imgs/12.jpg" alt="contact img">

                <div class="centered text-center d-none d-md-block" style="color:white">
                    <h1 class=" yellow">Contact Us </h1>
                    <h2 class="d-lg-block d-none"> Frame for Aluminum and Glass Facade Works Company</h2>
                    <h4 class=""><strong> Owner & CEO : Sherif Mamdouh El Saeed </strong> </h4>
                    <label >Head Office : </label><span >Block 1258 , Bldg 12 , Appt-101. Sheraton Heliopolis housing , Cairo , EGYPT </span><br>
                    <label>Tel (Land line ) : </label><span > +2 02 22 69 1300 . </span> <br>
                    <label>Tel : </label><span >+20 12 27360 462 .</span> <br>
                    <label >Email : </label><span > info@frame-eg.com . </span><br>
                </div>
            </div>
        </div>
        </div>
       
  
  
  
      <div class="row text-center justify-content-around">
        <div class="col-12  text-center d-block d-md-none" style="color:black">
            <h1 class=" yellow">Contact Us </h1>
            <h2 class="d-lg-block d-none"> Frame for Aluminum and Glass Facade Works Company</h2>
            <h4 style="color:#3f5ca2"><strong> Owner & CEO : Sherif Mamdouh El Saeed </strong> </h4>
            <label >Head Office : </label><span >Block 1258 , Bldg 12 , Appt-101. Sheraton Heliopolis housing , Cairo , EGYPT </span><br>
            <label>Tel (Land line ) : </label><span > +2 02 22 69 1300 . </span> <br>
            <label>Tel : </label><span >+20 12 27360 462 .</span> <br>
            <label >Email : </label><span > info@frame-eg.com . </span><br>
        </div>
        <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <div class="blue">
                <div class="row" >
                <div class="col-6 d-none d-md-block">
                    <img class="rounded-circle w-50" src="assets/imgs/owner.jpg" alt="owner"></div>
                <div class="col-12 col-md-6">
                    <h5> CEO </h5>
                    <p> Eng. Sherif Mamdouh </p>
                    <p> +20 12 27360 462 </p>
                    <p>Sherif.Mamdouh@frame-eg.com</p>
                </div>    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <div class="blue">
                <div class="row" >
                    <div class="col-6 d-none d-md-block">
                        <img class="rounded-circle w-50" src="assets/imgs/owner.jpg" alt="owner"></div>
                    <div class="col-12 col-md-6">
                        <h5> Business Development Department  </h5>
                        <p> Eng. Abd Alrahman Helmy </p>
                        <p> +20 10 50607 290 </p>
                        <p>abdelrahman.helmy@frame-eg.com</p>
                    </div>    
                </div>       
                
            </div>    
            <br>
        </div>
        <div class="col-lg-6 col-md-12"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
            <div class="blue">
                <div class="row" >
                    <div class="col-6 d-none d-md-block">
                        <img class="rounded-circle w-50" src="assets/imgs/owner.jpg" alt="owner"></div>
                    <div class="col-12 col-md-6">
                        <h5> Tendering Department </h5>
                         <p> Eng. Kareem Hossam</p>
                         <p> +20 12 06665 371</p>
                         <p>karim.hossam@frame-eg.com</p>
                    </div>
                 </div>
                
            </div>    
        </div>
        <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">
            <div class="blue">
                <div class="row">
                    <div class="col-6 d-none d-md-block">
                        <img class="rounded-circle w-50" src="assets/imgs/owner.jpg" alt="owner"></div>
                    <div class="col-12 col-md-6">
                        <h5> T.Office </h5>
                        <p> Eng. Mostafa Saleh</p>
                        <p> +20 12 00025 250</p>
                        <p>mostafa.saleh@frame-eg.com</p>
                     </div>
                </div>        
                
            </div>    
        </div>
        <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000">
            <div class="blue">
                <div class="row" >
                    <div class="col-6 d-none d-md-block">
                        <img class="rounded-circle w-50" src="assets/imgs/owner.jpg" alt="owner"></div>
                    <div class="col-12 col-md-6">
                        <br><br>
                        <p> Eng. Karim Shady</p>
                        <p> +20 12 00091 210</p>
                        <p>k.shady@frame-eg.com</p>
                    </div>
                </div>        
                
    
            </div>
        </div>
    
        </div>
    </div>