<div class="part">
<h2 >
    <div class="text-center p-5">OUR Clients  & Partners </div> 
</h2> 
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-s-2 g-4">
    <div class="col">
        <img src="assets/imgs/logos/logo1.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo2.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo3.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo4.png" class="card-img-top" alt="...">
    </div>  
    <div class="col">
          <img src="assets/imgs/logos/logo5.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo6.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo7.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo8.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo9.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo10.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo11.png" class="card-img-top" alt="...">
      </div>
      <div class="col">
            <img src="assets/imgs/logos/logo12.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo13.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo14.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
              <img src="assets/imgs/logos/logo15.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo16.png" class="card-img-top" alt="...">

    </div>
    <div class="col">
          <img src="assets/imgs/logos/logo17.png" class="card-img-top" alt="...">
    </div>
    <div class="col">
            <img src="assets/imgs/logos/logo18.png" class="card-img-top" alt="...">
    </div>
</div>
</div>