
<div style="margin-bottom: 70px;" class="p-5">
    <h2 class="text-center p-2" style="color:#3f5ca2">Add Project</h2>
   
    <form  class="w-50 m-auto p-2"
    #myForm="ngForm"
    >
    
        <div class="container p-2">
            <label class="p-2" style="color:#3f5ca2"><b> Product </b></label>
            <select 
            class="p-2"  
            class="form-control" 
            id="productID"
            required
            name="productID"
            [(ngModel)]='this.project.productID'
            #productID="ngModel"
            >
                <option value="1">Curtain Wall</option>
                <option value="2">Doors and Windows</option>
                <option value="3">Louvers</option>
                <option value="4">Aluminum Cladding</option>
                <option value="5">Steel / Aluminum Sheds</option>
                <option value="6">Steel / Aluminum Handrails</option>
                <option value="7">Glass doors</option>
            </select>  
            <br>
        <label class="p-2"  style="color:#3f5ca2"><b> Project Title</b></label>
        <input 
        type="text"
        placeholder="Project Title"
        class="form-control"
        id="title"
        required
        name="title"
        [(ngModel)]='project.title'
        #title="ngModel" 
         >
         <br>
         <label class="p-2"  style="color:#3f5ca2"><b> Project Owner</b></label>
         <input 
         type="text"
         placeholder="Project Owner"
         class="form-control"
         id="project_owner"
         required
         name="project_owner"
         [(ngModel)]='project.owner'
         #title="ngModel" 
          >
          <br>
          <label class="p-2"  style="color:#3f5ca2"><b> Consultant</b></label>
          <input 
          type="text"
          placeholder="Consultant"
          class="form-control"
          id="consultant"
          required
          name="consultant"
          [(ngModel)]='project.consultant'
          #title="ngModel" 
           >
           <br>
           <label class="p-2"  style="color:#3f5ca2"><b> Location</b></label>
           <input 
           type="text"
           placeholder="Location"
           class="form-control"
           id="Location"
           required
           name="Location"
           [(ngModel)]='project.location'
           #title="ngModel" 
            >
        <div class="input-group p-2">
            <input 
            type="file" 
            class="form-control" 
            aria-describedby="inputGroupFileAddon04" 
            aria-label="Upload"
            id="avatar"
            name="avatar"
            (change)='onFileSelected($event)'
            [(ngModel)]='img'
            #imageInput
            >
        </div>

            
        <button class="btn" type="submit" (click)="formSubmit()" [disabled]="isDisabled()"> ADD </button>
        </div>
    
    </form>
</div>    