<div style="margin-bottom: 70px;" class="p-5">
    <h2 class="text-center p-2" style="color:#3f5ca2">Add Project</h2>
   
    <form  class="w-50 m-auto p-2"
    #myForm="ngForm"
    >
    
        <div class="container p-2">
            <label class="p-2" style="color:#3f5ca2"><b> Product </b></label>
            <select class="p-2"  
            class="form-control" 
            id="productID"
            required
            name="productID"
            [(ngModel)]='this.project.productID'
            #productID="ngModel"
            >
                <option selected disabled>Choose...</option>
                <option value="1">Certain walls</option>
                <option value="2">Doors and windows</option>
                <option value="3">Louvers</option>
                <option value="4">Aluminum cladding</option>
                <option value="5">Steel / Aluminum sheds</option>
                <option value="6">Steel / Aluminum handrails</option>
                <option value="7">Glass doors</option>
            </select>  
        <label class="p-2"  style="color:#3f5ca2"><b> Project Title</b></label>
        <input 
        type="text"
        placeholder="Project Title"
        class="form-control"
        id="title"
        required
        name="title"
        [(ngModel)]='project.title'
        #title="ngModel" 
         >
        <label class="p-2"  style="color:#3f5ca2"><b>Description</b></label>
        <textarea 
        placeholder="Description" 
        rows="5"
        class="form-control"
        id="description"
        required
        name="description"
        [(ngModel)]='this.project.description'
        #description="ngModel"
        ></textarea>
        <div class="input-group p-2">
            <input 
            type="file" 
            class="form-control" 
            aria-describedby="inputGroupFileAddon04" 
            aria-label="Upload"
            id="avatar"
            required
            name="avatar"
            (change)='onFileSelected($event)'
            [(ngModel)]='img'
            #imageInput
            >
        </div>

            
        <button class="btn" type="submit" (click)="formSubmit()" [disabled]="isDisabled()"> ADD </button>
        </div>
    
    </form>
</div>    